@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: black;
}

.textmain {
  color: #F3EFE0;
}

.textalt {
  color: #373F51;
}

.textemph {
  color: #e48662;
}

.bgalt {
  background: #F3EFE0;
}

.playfair {
  font-family: 'Playfair Display', serif;
  letter-spacing: -0.025em;
}

.outfit {
  font-family: 'outfit', sans-serif;
  letter-spacing: -0.03em;
}

.youngserif {
  font-family: 'Young Serif', serif;
}

.urbansist {
  font-family: 'Urbanist', sans-serif;
  letter-spacing: -0.05em;
}

.martianmono {
  font-family: 'Martian Mono', monospace;
  letter-spacing: -0.05em;
}

.majormonodisplay {
  font-family: 'Major Mono Display', monospace;
  letter-spacing: -0.05em;
}

.ibmplexmono {
  font-family: 'IBM Plex Mono', monospace;
  letter-spacing: -0.05em;
}

.code-snippet-card {
  border-radius: 5px;
}

.code-snippet-card pre {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 14px;
}